// "eslint": "^7.32.0",
// "eslint-config-airbnb": "^18.2.1",
// "eslint-config-prettier": "^8.3.0",
// "eslint-plugin-import": "^2.24.2",
// "eslint-plugin-jsx-a11y": "^6.4.1",
// "eslint-plugin-prettier": "^3.3.1",
// "eslint-plugin-react": "^7.22.0",
// "eslint-plugin-react-hooks": "^4.2.0",

// {
//     "extends": [
//       "airbnb",
//       "prettier"
//     ],
//     "plugins": [
//       "prettier"
//     ],
//     "rules": {
//       "react/jsx-filename-extension": [
//         1,
//         {
//           "extensions": [
//             ".js",
//             ".jsx"
//           ]
//         }
//       ],
//       "react/prop-types": 0,
//       "no-underscore-dangle": 0,
//       "import/imports-first": [
//         "error",
//         "absolute-first"
//       ],
//       "import/newline-after-import": "error"
//     },
//     "globals": {
//       "window": true,
//       "document": true,
//       "localStorage": true,
//       "FormData": true,
//       "FileReader": true,
//       "Blob": true,
//       "navigator": true
//     },
//     "parser": "babel-eslint"
//   }