.containerProfile{
    height: 650px;
    width: 100%;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 12%), 0 0 6px 0 rgb(0, 0, 0, 10%);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.changue{
    margin: 10px;
    width: 90%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
#photo, #newName, #number, #delete, #save, #cancel{
    width: 90%;
    height: 30px;
    margin: 5px;
}
#save{
    background-color: #75b175;
    color: #060202;
}
#cancel{
    background-color: var(--maincolorblue);
    color: white;
}
#delete{
    background-color: rgb(119, 45, 32);
    color: white;
}
.changue.delete{
    margin-top: 50px;
}
.changue label{
    font-size: 1.2rem;
}



@supports(object-fit: cover){
    #previewImage{
      object-fit: cover;
      object-position: center center;
    }
}

@media screen and (min-width:538px) and (  max-width: 768px ) {
    .containerProfile{
        width: 80%;
    }
    #photo, #newName, #number, #delete, #save, #cancel{
        width: 70%;
    }
    .modalChangePhoto{
        width: 80%;
        left: 10%;
    }
    .modalChangePhoto h3{
        font-size: 1.6rem;
        margin: 8px;
    }
}
@media screen and (min-width: 769px) {
    .containerProfile{
        width: 60%;
    }
    #photo, #newName, #number, #delete, #save, #cancel{
        width: 50%;
    }
    .modalChangePhoto{
        width: 50%;
        left: 25%;
    }
    .modalChangePhoto h3{
        font-size: 1.95rem;
        margin: 8px;
    }
}