  /* Find Us */
  
  .main__findus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    height: 500px;
    padding: 10px;
  }
  .main__findus--title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  .main__findus--map{
    width: 100%;
    margin-top: 30px;
    height: 80%;
    border-radius: 20px;
  }