  /* Find Us */
  
  .Footer .main__findus{
    flex-basis: 100%;
    width: 100%;
    height: calc(100% - 150px);
    padding: 10px;
    padding-bottom: 20px;
  }
  .main__findus--title{
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
  }
  .main__findus--map{
    width: 100%;
    margin-top: 5px;
    height: 80%;
    border-radius: 20px;
  }
  @media screen and (min-width: 769px) {
    .Footer .main__findus{
      flex-basis: 34%;
      height: 100%;
    }
  } 