.grid_Menu{
    box-sizing: border-box;
    grid-area: 4 / 1 / 5 / 2;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template: 50px 1fr 1fr 1fr 1fr 60px/1fr;
    background-color: #f5f6f7;
    box-shadow: 0 0px 2px 0px rgb(26, 26, 26, .17);
}
.target_food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0px 2px 0px rgb(26, 26, 26, .17);
}
.general_title_little_menu{
    padding: 10px 0px;
    grid-area: 1 / 1 /  2 /  2;
    text-align: center;
    transition: all ease-in 0.5s;
}
.link_all_menu{
    background-color: var(--maincolorblue);
    transition: all ease-in 0.2s;
    grid-area: 6 / 1 /  7 /  2;
    height: 70%;
}
.link_all_menu a{
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(211, 211, 211);
}
.link_all_menu:hover{
    box-shadow: 0px 2px 4px 0px var(--maincolorgreen)
}
.container_image_little{
    padding: 35px;
    overflow:hidden;
}
.container_image_little img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 769px) {
    .grid_Menu{
        box-sizing: border-box;
        grid-area: 3 / 1 / 4 / 3;
        grid-template: 50px 1fr 1fr 60px/50% 50%;
    }
    .general_title_little_menu{
        grid-area: 1 / 1 /  2 /  3;
    }
    .link_all_menu{
        grid-area: 4 / 1 /  5 /  3;
    }
    .link_all_menu a{
        font-size: 1.4rem;
    }
  }